torch==1.12.1
recbole==1.2.0
datasets==3.1.0
transformers==4.22.2
sentencepiece==0.2.0
faiss-cpu==1.7.4
scikit-learn==1.2.2
numpy==1.23.5
pandas==1.5.3
tqdm==4.66.5
jsonlines==4.0.0
networkx==3.1
tensorboard==2.12.3
